BasedOnStyle: Chromium
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
AccessModifierOffset: -4
AlignOperands: DontAlign
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 0
CompactNamespaces: false
ContinuationIndentWidth: '8'
ConstructorInitializerIndentWidth: '12'
Cpp11BracedListStyle: true
ExperimentalAutoDetectBinPacking: true
EmptyLineBeforeAccessModifier: Always
DerivePointerAlignment: false
FixNamespaceComments: false
IndentPPDirectives: None
IndentWidth: '4'
Language: Cpp
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: None
PenaltyBreakFirstLessLess: 1
PointerAlignment: Middle
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceAroundPointerQualifiers: Both
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: '2'
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: '4'
UseTab: Never
